/**************************** Typography **************************************/

/**************************** Sites **************************************/
.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.nav-link {
  font-weight: 600;
  position: relative;
  &.active {
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      left: 0;
      width: 100%;
      background: rgba(255, 255, 255, 0.75);
      bottom: 0;
    }
  }
}

/**************************** Blog Page **************************************/
.blog__wrap {
  padding: 80px 0;
  &-block {
    padding: 0 25px 25px;
    a {
      text-decoration: none;
      color: inherit;
    }
    .card {
      border: none;
      &-body {
        padding: 15px 0;
        & > span {
          font-weight: 600;
        }
        h5 {
          margin: 5px 0 15px;
        }
      }
      img {
        border-radius: 10px;
        object-fit: cover;
      }
    }
  }
}

/**************************** Blog Detail page **************************************/
.blog {
  &__sidebar {
    padding-top: 30px;
    background: #f9f9f9;
    padding-top: 30px;
    height: auto;

    aside {
      & > ul {
        padding: 0;
      }
      ul {
        &:last-of-type {
          padding-left: 8px;
        }
        list-style-type: none;
        li {
          color: #1d78be;
          font-weight: 500;
          a {
            text-decoration: none;
            font-size: 14px;
          }
        }
      }
    }
  }

  &__content {
    padding: 30px;
    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;

      & + em {
        color: $primary;
        display: block;
        text-align: center;
        margin-bottom: 35px;
      }
    }
    &-head {
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      margin-bottom: 1rem;
      &--brief {
        margin-bottom: 1rem;

        span {
          font-weight: 600;

          &:not(last-child) {
            margin-right: 15px;
          }
        }
      }
    }
    &-body {
      & > p:first-of-type {
        margin-bottom: 2rem;
      }
      pre {
        background: #f5f8fa;
        border-radius: 0.25rem;
        border: 1px solid rgba(0, 0, 0, 0.125);
        white-space: pre;
        code {
          color: #0c5176;
          overflow: auto;
          white-space: pre;
          word-wrap: normal;
        }
      }
      h4 {
        margin-top: 1rem;
      }
      blockquote {
        background: #e8f4fd;
        padding: 1rem;
        border-radius: 0.25rem;
        border: 1px solid rgba(0, 0, 0, 0.125);
        p {
          &:first-of-type {
            color: #076cad;
            font-weight: 700;
            position: relative;
            padding-left: 25px;
            &::before {
              content: "i";
              position: absolute;
              left: 0;
              background: #076cad;
              height: 20px;
              border-radius: 50px;
              width: 20px;
              line-height: 20px;
              text-align: center;
              color: #fff;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}
/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  transition: 0.2s;
  margin: 0 15px 15px 0;
  background: #ffffff;
  color: rgb(33, 37, 41);
  border: 1px solid rgb(33, 37, 41);
  text-transform: uppercase;
  font-weight: 600;
}

/* Create an active/current tablink class */
.tab button.active {
  box-shadow: none !important;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 30px 0;
}

@media only screen and (min-width: 1200px) {
  .blog__sidebar {
    width: 20%;
  }
  .blog__content {
    width: 60%;
  }
  .blog__navigation {
    width: 20%;
  }
}

@media only screen and (max-width: 767px) {
  .blog__content {
    padding: 30px 15px;
  }
  .blog__wrap-block {
    padding: 0 15px;
  }
}

// *********************** Portfolio typography *******************************
.p_btn {
  padding: 10px 40px;
  font-size: 18px;
  text-transform: uppercase;
  color: #666;
  font-weight: 500;
  border-radius: 50px;
  i {
    padding-left: 6px;
    transition: all 0.2s ease;
  }
}
.p_title {
  h3 {
    font-size: 32px;
    color: #7e7e7e;
    font-weight: 600;
    padding-bottom: 24px;
  }
}
hr.seperator {
  border-top: 1px solid lighten(#7e7e7e, 40%);
  margin: 70px auto 55px;
  max-width: 40%;
}

// *********************** Header ***********************************
.header {
  position: fixed;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;

  .icon-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .icon-box {
      background: lighten(#7e7e7e, 45%);
      display: flex;
      width: 55px;
      height: 55px;
      border-radius: 50px;
      justify-content: center;
      align-items: center;
      margin-bottom: 22px;
      cursor: pointer;
      position: relative;

      &:hover {
        background: $primary;
        i {
          color: #fff;
        }

        h2 {
          opacity: 1;
          right: 27px;
          margin: 0;
          text-align: center;
          border-radius: 30px 0 0 30px;
        }
      }
      h2 {
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        color: #fff;
        line-height: 55px;
        font-weight: 500;
        transition: all 0.3s;
        border-radius: 30px;
        text-transform: uppercase;
        padding: 0 30px 0 30px;
        height: 55px;
        margin: 0;
        background: $primary;
        font-size: 1rem;
      }
      i {
        font-size: 20px;
        transition: all 0.2s ease;
      }
    }
  }
}
// *********************** Home Section *******************************

section.home {
  position: relative;
  padding: 80px 0;
  .clip {
    clip-path: polygon(0 0, 12% 0, 20% 100%, 0% 100%);
    background-color: $primary;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .content {
    padding: 100px 60px;
    h1 {
      text-transform: uppercase;
      color: $primary;
      font-size: 55px;
      font-weight: 700;
      position: relative;
      padding-left: 60px;
      margin-bottom: 24px;
      &:before {
        content: "";
        position: absolute;
        height: 5px;
        width: 40px;
        left: 0;
        top: 25%;
        transform: translateY(-50%);
        border-radius: 10px;
        background: $primary;
      }
      span {
        color: #7e7e7e;
      }
    }
    p {
      line-height: 2;
      margin-bottom: 24px;
    }
    .btn {
      &:hover {
        i {
          transform: translateX(3px);
        }
      }
    }
  }
}

section.about-me {
  padding: 80px 0;
  .title {
    position: relative;
    margin-bottom: 80px;
    h2 {
      text-transform: uppercase;
      font-size: 50px;
      font-weight: 700;
      color: #7e7e7e;
      span {
        color: $primary;
      }
    }
    .bg-text {
      position: absolute;
      font-size: 115px;
      font-weight: 700;
      color: #7e7e7e;
      text-transform: uppercase;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      opacity: 0.1;
    }
  }
  .p_list {
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
      li {
        flex: 0 0 50%;
        max-width: 50%;
        padding-bottom: 24px;
        .title {
          opacity: 0.6;
          text-transform: capitalize;
        }
        .value {
          font-weight: 600;
        }
      }
    }
  }

  .cv_btn {
    .btn {
      &:hover {
        i {
          transform: translateY(2px);
        }
      }
    }
  }
  .card {
    background-color: $body-bg;
    padding: 15px 25px;
    margin-bottom: 24px;

    .card-body {
      .nums {
        color: $primary;
        font-size: 38px;
        font-weight: 700;
        sup {
          font-weight: 500;
        }
      }
      p {
        text-transform: uppercase;
        margin-bottom: 0;
        position: relative;
        padding-left: 45px;
        font-size: 18px;
        opacity: 0.6;
        &:before {
          content: "";
          position: absolute;
          height: 2.5px;
          width: 35px;
          left: 0;
          top: 25%;
          transform: translateY(-50%);
          border-radius: 10px;
          background: #7e7e7e;
        }
      }
    }
  }
  .m_skill {
    margin: 40px 0;
    .p_title {
      h3 {
        margin-bottom: 0;
      }
    }
  }
  .skill_box {
    margin-bottom: 20px;
    &__title {
      justify-content: space-between;
      margin-bottom: 8px;
      span {
        display: inline-block;
        text-transform: uppercase;
      }
    }
  }
}

@media only screen and (max-width: 1399px) {
  body {
    font-size: 14px;
  }
}
