/**************************** Typography **************************************/

/**************************** Sites **************************************/
.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.nav-link {
  font-weight: 600;
  position: relative;
  &.active {
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      left: 0;
      width: 100%;
      background: rgba(255, 255, 255, 0.75);
      bottom: 0;
    }
  }
}

/**************************** Blog Page **************************************/
.blog__wrap {
  padding: 80px 0;
  &-block {
    padding: 0 25px 25px;
    a {
      text-decoration: none;
      color: inherit;
    }
    .card {
      border: none;
      &-body {
        padding: 15px 0;
        & > span {
          font-weight: 600;
        }
        h5 {
          margin: 5px 0 15px;
        }
      }
      img {
        border-radius: 10px;
      }
    }
  }
}

/**************************** Blog Detail page **************************************/
.blog {
  &__sidebar {
    padding-top: 30px;
    background: #f9f9f9;
    padding-top: 30px;
    height: auto;

    aside {
      & > ul {
        padding: 0;
      }
      ul {
        &:last-of-type {
          padding-left: 8px;
        }
        list-style-type: none;
        li {
          color: #1d78be;
          font-weight: 500;
          a {
            text-decoration: none;
            font-size: 14px;
          }
        }
      }
    }
  }

  &__content {
    padding: 30px;
    &-head {
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      margin-bottom: 1rem;
      &--brief {
        margin-bottom: 1rem;

        span {
          font-weight: 600;

          &:not(last-child) {
            margin-right: 15px;
          }
        }
      }
    }
    &-body {
      & > p:first-of-type {
        margin-bottom: 2rem;
      }
      pre {
        background: #f5f8fa;
        border-radius: 0.25rem;
        border: 1px solid rgba(0, 0, 0, 0.125);
        overflow: scroll;

        code {
          color: #0c5176;
          overflow: scroll;
        }
      }
      h4 {
        margin-top: 1rem;
      }
      blockquote {
        background: #e8f4fd;
        padding: 1rem;
        border-radius: 0.25rem;
        border: 1px solid rgba(0, 0, 0, 0.125);
        p {
          &:first-of-type {
            color: #076cad;
            font-weight: 700;
            position: relative;
            padding-left: 25px;
            &::before {
              content: "i";
              position: absolute;
              left: 0;
              background: #076cad;
              height: 20px;
              border-radius: 50px;
              width: 20px;
              line-height: 20px;
              text-align: center;
              color: #fff;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}
/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  transition: 0.2s;
  margin: 0 15px 15px 0;
  background: #ffffff;
  color: rgb(33, 37, 41);
  border: 1px solid rgb(33, 37, 41);
  text-transform: uppercase;
  font-weight: 600;
}

/* Create an active/current tablink class */
.tab button.active {
  box-shadow: none !important;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 30px 0;
}

@media only screen and (min-width: 1200px) {
  .blog__sidebar {
    width: 20%;
  }
  .blog__content {
    width: 60%;
  }
  .blog__navigation {
    width: 20%;
  }
}

@media only screen and (max-width: 767px) {
  .blog__content {
    padding: 30px 15px;
  }
  .blog__wrap-block {
    padding: 0 15px;
  }
}
