---
---

// Font family
$font-family-base: "Poppins", sans-serif;

// Custom Colors
$body-bg: #fffdfa;
$body-font-size: 14px;
$primary: #3b5998;
$card-border-color: lighten(#7e7e7e, 42%);
$progress-height: 0.8rem;
$progress-border-radius: 0;

$navbar-dark-color: #ffffff;

$link-color: $primary;

// Custom Buttons
$btn-font-size: 14px;

// Custom Heading
$headings-font-weight: 600;

@import "bootstrap/bootstrap";

// mycss
@import "../../_sass/main";
