---
layout: default
---

<section class="blog">
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-md-10 blog__content">
                <div class="blog__content-head">
                    <h1>{{ page.title }}</h1>
                    <div class="blog__content-head--brief">
                        <span>Category: {{ page.categories | join: ' ' }}</span>
                        <span>Author: {{ page.author }}</span>
                    </div>
                </div>
                <div class="blog__content-body">
                    {{ content }}
                </div>
            </div>
            <div class="col-md-2 blog__sidebar">
                <aside>
                    <ul>
                        <li>
                            <a href="" class="">
                                
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</section>