---
layout: default
---

<section class="blog">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 blog__sidebar">
                <aside>
                    <ul>
                        {% for devnet in site.devnet_associate reversed %}
                        <li>
                            <a href="{{ devnet.baseurl }}/devnet_associate/{{ devnet.slug }}"
                                class="{% if page.url contains django.slug %} active {% endif %}">
                                {{ devnet.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </aside>
            </div>
            <div class="col-md-10 blog__content">
                <div class="blog__content-head">
                    <h1>{{ page.title }}</h1>
                    <div class="blog__content-head--brief">
                        <span>Category: {{ page.categories }}</span>
                        <span>Author: {{ page.author }}</span>
                    </div>
                </div>
                <div class="blog__content-body">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</section>